<template>
  <v-container>
    <v-layout row>
      <v-flex xs12>
        <v-card tile v-if="!loading">
          <v-img
              :src="ad.imageSrc"
              height="300px"
          >

          </v-img>
          <v-card-text>
            <h1>{{ad.title}}</h1>
            <br>
            <p>{{ad.description}}</p>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <edit-ad-modal :ad="ad" v-if="isOwner"></edit-ad-modal>
            <app-buy-modal :ad="ad"/>

          </v-card-actions>
        </v-card>
        <v-progress-circular
            v-else
            :size="100"
            :width="5"
            color="purple"
            indeterminate
        ></v-progress-circular>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  import EditAdModal from '../../components/EditAdModal'

  export default {
    props: ['id'],
    computed: {
      ad () {
        return this.$store.getters.adById(this.id)
      },
      loading () {
        return this.$store.getters.loading
      },
      isOwner () {
        console.log('this.ad.ownerId',this.ad.ownerId)
        console.log('this.$store.getters.user.id',this.$store.getters.user)
        return this.ad.ownerId === this.$store.getters.user.id
      }
    },
    components: {
      EditAdModal
    }
  }
</script>
