<template>
  <v-container>
    <v-layout row v-if="!loading && myAds.length !== 0">
      <v-flex xs12 sm6 offset-sm3>
        <h1 class="text--secondary mb-3">Add list</h1>
        <v-card
            tile
            class="elevation-12 mb-5"
            v-for="ad in myAds"
            :key="ad.id"
        >

          <v-row>
            <v-flex sm4>
              <v-img
                  :src="ad.imageSrc"
                  height="100%"
              ></v-img>
            </v-flex>
            <v-flex sm8 pr-4>
              <v-card-text>
                <h2>{{ad.title}}</h2>
                <p>{{ad.description}}</p>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                    class="info"
                    tile
                    :to="`/ad/${ad.id}`"
                >open
                </v-btn>
              </v-card-actions>
            </v-flex>
          </v-row>

        </v-card>
      </v-flex>
    </v-layout>
    <v-layout v-else-if="!loading && myAds.length === 0">
      <v-flex xs12 class="text-xs-center">
        <h1 class="text--primary">You have no ads</h1>
      </v-flex>
    </v-layout>
    <v-layout v-else>
      <v-flex xs12 class="text-xs-center">
        <v-progress-circular
            indeterminate
            :size="100"
            :width="4"
            color="purple"
        ></v-progress-circular>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  export default {
    computed: {
      myAds () {
        return this.$store.getters.myAds
      },
      loading () {
        return this.$store.getters.loading
      }
    }
  }
</script>
