<template>
  <v-container>
    <v-layout row>
      <v-flex xs12 sm6 offset-sm3>
        <h1 class="text--secondary mb-3">New add</h1>
        <v-form v-model="valid">

          <v-text-field
              label="Title"
              name="title"
              type="text"
              v-model="title"
              required
              :rules="[ v=>!!v || 'Title is required' ]"
          />
          <v-textarea
              rows="1"
              :clearable=true
              :auto-grow=true
              label="Description"
              name="description"
              type="text"
              v-model="description"
              :rules="[ v=>!!v || 'Description is required' ]"
          />
        </v-form>
        <v-layout row>
          <v-flex xs12>
            <v-file-input
                @change="onFileChange"
            />
            <br>
            <img

                v-if="imageSrc"
                class="mt-2"
                :src="imageSrc"
                height="150"
                alt=""
            >
            <v-switch
                v-model="promo"
                label="add to promo"
            ></v-switch>
            <v-row>
              <v-spacer></v-spacer>
              <v-btn
                  :loading="loading"
                  class="success"
                  @click="createAdd($event)"
                  :disabled="(!valid && !image) || loading"
              >Create ad
              </v-btn>
            </v-row>
          </v-flex>
        </v-layout>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  export default {
    data: () => ({
      promo: false,
      imageSrc: null,
      valid: false,
      title: '',
      description: '',
      image: null,

    }),
    computed: {
      loading () {
        return this.$store.getters.loading
      }
    },
    methods: {
      createAdd () {
        if (this.valid && this.image) {
          const ad = {
            title: this.title,
            description: this.description,
            promo: this.promo,
            image: this.image
          }
          this.$store.dispatch('createAd', ad)
            .then(() => {
              this.$router.push('/list')
            })
            .catch(() => {})
        }
      },
      onFileChange (file) {
        const reader = new FileReader()
        reader.onload = (e) => {
          this.imageSrc = reader.result
        }
        reader.readAsDataURL(file)
        this.image = file
      }
    }
  }
</script>
