<template>
  <div>
    <template  v-if="!loading">
    <v-container fluid>
      <v-layout row>
        <v-flex xs12>
          <v-carousel cycle>
            <v-carousel-item
                v-for="(ad, i) in promoAds"
                :key="i"
                :src="ad.imageSrc"
            >
              <div class="carusel-link">
                <v-btn tile class="error" :to="`/ad/${ad.id}`">
                  {{ ad.title }}
                </v-btn>
              </div>
            </v-carousel-item>
          </v-carousel>
        </v-flex>
      </v-layout>
    </v-container>
    <v-container>
      <v-row>
        <v-flex
            v-for="(ad, i) in ads"
            :key="i" xl2 lg3 md4 sm6 pa-2
        >
          <v-card tile>
            <v-img class="white--text align-end h200" :src="ad.imageSrc">
              <v-card-title>{{ ad.title }}</v-card-title>
            </v-img>
            <v-card-text class="text--primary">
              {{ ad.description }}
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn text tile :to="`/ad/${ad.id}`"> Open</v-btn>
              <app-buy-modal :ad="ad"/>
            </v-card-actions>
          </v-card>
        </v-flex>
      </v-row>
    </v-container>
    </template>
    <template v-else>
      <v-container>
        <v-layout>
          <v-flex class="text-center">
            <v-progress-circular
                :size="100"
                :width="5"
                color="purple"
                indeterminate
            ></v-progress-circular>
          </v-flex>
        </v-layout>
      </v-container>
    </template>
  </div>
</template>

<script>
  export default {
    computed: {
      promoAds () {
        return this.$store.getters.promoAds
      },
      ads () {
        return this.$store.getters.ads
      },
      loading(){
        return this.$store.getters.loading
      }
    }
  }
</script>

<style scoped>
  .h200 {
    height: 200px;
  }

  .carusel-link {
    position: absolute;
    bottom: 50px;
    left: 50%;
    background: rgba(0, 0, 0, 0.3);
    transform: translate(-50%, 0);
    padding: 5px 15px;
  }
</style>
