<template>

  <v-dialog
      width="400px"
      v-model="modal"
  >
    <template v-slot:activator="{ on }">
      <v-btn
          tile
          color="warning"
          dark
          v-on="on"
      >
        Edit
      </v-btn>

    </template>
    <v-card>
      <v-card-title
          class="headline grey lighten-2"
          primary-title
      >
        Edit ad
      </v-card-title>

      <v-card-text>
        <v-form v-model="valid" @submit.prevent="">
          <v-text-field
              @ended="alert('er')"
              label="Title"
              name="title"
              type="text"
              v-model="title"
              required
              :rules="[ v=>!!v || 'Title is required' ]"
          />
          <v-textarea
              rows="1"
              :clearable=true
              :auto-grow=true
              label="Description"
              name="description"
              v-model="description"
              :rules="[ v=>!!v || 'Description is required' ]"
          />
        </v-form>
      </v-card-text>

      <v-divider></v-divider>

      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
            color="error"
            @click="onCancel"
            tile
        >
          Cancel
        </v-btn>
        <v-btn
            color="success"
            @click="onSave"
            tile
        >
          Save
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>

</template>

<script>
  export default {
    props: ['ad'],
    data () {
      return {
        valid: false,
        modal: false,
        description: this.ad.description,
        title: this.ad.title
      }
    },
    methods: {
      onSave () {
        if (this.description !== '' && this.title !== '') {
          this.$store.dispatch('updateAd', {
            title: this.title,
            description: this.description,
            id: this.ad.id
          })

          this.modal = false
        }
      },
      onCancel () {
        this.description = this.ad.description
        this.title = this.ad.title
        this.modal = false
      }
    }

  }
</script>

<style scoped>

</style>