<template>
  <v-app>
    <v-navigation-drawer app v-model="drawer" temporary>
      <v-list>
        <v-list-item v-for="link of links" :key="link.title" :to="link.url">
          <v-list-item-icon>
            <v-icon>{{ link.icon }}</v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title v-text="link.title"/>
          </v-list-item-content>
        </v-list-item>
        <v-list-item v-if="isUserLoggedIn">
          <v-list-item-icon
              @click="onLogout"
          >
            <v-icon>mdi-logout</v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title v-text="'Logout'"/>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-app-bar dense app dark color="primary">
      <v-app-bar-nav-icon @click="drawer = !drawer" class="hidden-md-and-up"/>

      <v-toolbar-title>
        <router-link to="/" tag="span" class="pointer">Application</router-link>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-items class="hidden-sm-and-down">
        <v-btn
            v-for="link in links"
            :key="link.url"
            text
            :to="link.url"
        >
          <v-icon left>{{ link.icon }}</v-icon>
          {{ link.title }}
        </v-btn>
        <v-btn
            @click="onLogout"
            text
            v-if="isUserLoggedIn"
        >
          <v-icon left>mdi-logout</v-icon>
          logout
        </v-btn>
      </v-toolbar-items>
    </v-app-bar>
    <v-content>
      <router-view></router-view>
    </v-content>
    <template v-if="error">
      <v-snackbar
          @input="closeError"
          :multi-line="true"
          color="error"
          :timeout="5000"
          :value="true"
      >
        {{error}}
        <v-btn
            dark
            text
            @click="closeError"
        >
          Close
        </v-btn>
      </v-snackbar>
    </template>
  </v-app>
</template>

<script>
  export default {
    data () {
      return {
        drawer: false
      }
    },
    computed: {
      error () {
        return this.$store.getters.error
      },
      isUserLoggedIn () {
        return this.$store.getters.isUserLoggedIn
      },
      links () {
        if (this.isUserLoggedIn) {
          return [
            { title: 'Orders', icon: 'mdi-bookmark-outline', url: '/orders' },
            { title: 'New', icon: 'mdi-file-plus', url: '/new' },
            { title: 'List', icon: 'mdi-view-list', url: '/list' },
          ]
        }
        return [
          { title: 'Login', icon: 'mdi-lock', url: '/login' },
          { title: 'Registration', icon: 'mdi-face', url: '/registration' },
        ]
      }
    },
    methods: {
      closeError () {
        this.$store.dispatch('clearError')
      },
      onLogout () {
        this.$store.dispatch('logoutUser')
        this.$router.push('/')
      },
    }
  }
</script>

<style scoped>
  .pointer {
    cursor: pointer;
  }
</style>
